html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../imagies/currency.jpg");
    background-size: cover; 
}
*, ::before, ::after {
    box-sizing: inherit;
}

