.fieldset__button {
    background-color: lightyellow; 
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    max-width: 700px;
    margin: 10px;
    padding: 10px;
    margin-inline: 5px; 
    font-weight: bold;
}

.fieldset__button:hover {
    background-color: hsl(60, 32%, 44%);
}

.fieldset__button:active {
    background-color: hsl(60, 43%, 47%);
    color: black;
    box-shadow: 4px 5px 6px gray;
}
